<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Login</title>
  </head>
  <body>
    <div class="container" style="margin-right: -80px; margin-top: 50px; border-color: red;">
        <div class="row">
            <div class="col-md-8">
                <form th:action="@{/login}" method="post">
                    <div class="card" style="border-color: red;">
                        <div class="card-body">
                            <center><h5 class="card-title">Login For Dashboard</h5></center>
                            <hr style="background-color: red; height: 2px;"/>
                            <div th:if="${param.error}" class="alert alert-danger">
                                Invalid email and password.
                                </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="username">Username</label>
                            </div>
                            <div class="col-md-6">
                                <input type="email" id="username" name="username" class="form-control">
                                </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label for="username">Password</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="password" id="password" name="password" class="form-control">
                                    </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                   <span class="forgot_link" style="margin-left: 500px;"> <a th:href="@{/user/reset-password}" target="_blank">Forgot Password?</a></span>
                                        </div>
                                </div>
                                <div class="col-md-7" style="margin-left: 80px;">
                                    <button type="submit" name="login" class="btn btn-primary btn btn-block">Login</button>
                                    </div>
                                    </div>
                                    </div>
                    </form>
                </div>
            </div>
        </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>