<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Login</title>
  </head>
  <body>
    <div class="container" style="margin-right: -80px; margin-top: 50px; border-color: red;">
        <div class="row">
            <!--MESSAGE BOX-->
            <div th:if=${session.message}>
                <div class="alert alert-danger my-2 text-center" role="alert">
                    <span th:text="${session.message}"></span>
                </div>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                <!--END-->
            <div class="col-md-8">
                <form th:action="@{/send/one-time-password}" method="post">
                    <div class="card" style="border-color: red;">
                        <div class="card-body">
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="username">Email</label>
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="email" class="form-control" placeholder="Enter email used when you created account">
                                </div>
                        </div>
                                <div class="col-md-7" style="margin-left: 80px;">
                                    <button type="submit" name="submit" class="btn btn-warning btn btn-block">Reset Password</button>
                                    </div>
                                    </div>
                                    </div>
                    </form>
                </div>
            </div>
        </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>