<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/dashboard.css">

    <title>Dashboard</title>
    <style>
        .error{
            color:red;
        }
        </style>
  </head>
  <body>
      <!--NAVBAR COMPONENT-->
      <nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/dashboard/user/index}">User Dashboard</a>
      <!-- <form th:action="@{/student/index}" method="get"> -->
         <!-- <input type="text" id="search" name="keyword" class="form-control form-control-primary w-100" placeholder="Search..." >  --> 
         <!-- </form> -->
<div class="btn-group" style="margin-right: 50px;">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Admin
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Profile</a>
    <a class="dropdown-item" href="#">Settings</a>
    <div class="dropdown-divider"></div>
     <a class="nav-link" th:href="@{/logout}">Logout</a>
  </div>
</div>
    </nav>
    <!--SIDE MENU-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-light d-none d-md-block sidebar">
                <div class="left-sidebar">
                    <ul class="nav flex-column sidebar-nav">
                        <li class="nav-item">
                          <a class="nav-link active" th:href="@{/dashboard/user/index}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            Dashboard
                          </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/faculty/form}">
                              <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                              Faculty
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" th:href="@{/department/form}">
                              <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                              Department
                            </a>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/course/index}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            Course
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/student/index}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            student
                          </a>
                        </li>
                      </ul>
                </div>
              </div>
        </div>
      </div>
      <!--MAIN SECTION-->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <h2>Welcome to dashbord</h2>
          <div class="row">
          <span><h3>Create New Faculty</h3></span>
          <span class="facultyDetail" style="padding-left: 450px;"><h3>All Faculties Available</h3></span>
          </div>
<hr>
<div class="container" style="margin-right: 100px; margin-top: 50px;">
    <div class="row">
            <div class="col-md-6">
            <form th:action="@{/faculty/create}" th:object="${faculty}" method="post">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="firstname">FacultyName</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" th:field="*{name}" class="form-control" required>
                            </div>
                    </div>

                            <div class="col-md-7" style="margin-left: 80px;">
                                <button type="submit" name="submit" class="btn btn-primary btn btn-block">Create</button>
                                </div>
                </form>
                </div>
                <!--Faculty Details-->
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="facultyTable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Faculty Name</th>
                             <!-- <th>Created_At</th>-->
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="faculty : ${faculties}">
                              <td th:text="${faculty.id}"></td>
                              <td th:text="${faculty.name}"></td>
                              <!--<td th:text="${faculty.createdAt}"></td>-->

                              <td>
                                <a href="">Edit</a>
                              <a href="">Delete</a>
                            </td>
                            </tr>
                    
                          </tbody>
                        </table>
                    </div>
                <!--End-->
            </div>
        </div>
    </div>
      </main>
      <!--END MAIN SECTION-->

            <!--Javascript part-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
            <script>
              $(document).ready(function() {
                $("#facultyTable").DataTable({
                    'aoColumnDefs': [{
                        'bSortable': false,
                        'aTargets': [-1] 
                    }]
                });
              })
            </script>
            <!--END JAVASCRIPT-->
  </body>
</html>