<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dashboard</title>
    <!--Integrating cdn for datatable-->
    <link rel="stylesheet" 
    type="text/css" 
    href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
    crossorigin="anonymous" />
    <!--End of cdn-->
    <link rel="stylesheet" href="../../css/dashboard.css">
  </head>
  <body>
      <!--NAVBAR COMPONENT-->
      <nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/dashboard/user/index}">User Dashboard</a>
      <!-- <form th:action="@{/student/index}" method="get"> -->
         <!-- <input type="text" id="search" name="keyword" class="form-control form-control-primary w-100" placeholder="Search..." >  --> 
         <!-- </form> -->
<div class="btn-group" style="margin-right: 50px;">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Admin
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" th:href="@{user/profile}">Profile</a>
    <a class="dropdown-item" href="#">Settings</a>
    <div class="dropdown-divider"></div>
     <a class="nav-link" th:href="@{/logout}">Logout</a>
  </div>
</div>
    </nav>
    <!--SIDE MENU-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-light d-none d-md-block sidebar">
                <div class="left-sidebar">
                    <ul class="nav flex-column sidebar-nav">
                        <li class="nav-item">
                          <a class="nav-link active" th:href="@{/dashboard/user/index}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            Dashboard
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/faculty/form}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            Faculty
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/department/form}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            Department
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/course/index}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            Course
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/student/index}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            student
                          </a>
                        </li>
                      </ul>
                </div>
              </div>
        </div>
      </div>
      <!--MAIN SECTION-->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <h2>Welcome to admin dashboard</h2>
          <hr/>
        <div class="row">  <h3>Student Available</h3> <span class="" style="margin-left: 700px;"><a th:href="@{/form}">Add New Student</a></span></div>
<hr>
<div class="table-responsive">
  <table class="table table-bordered table-striped" id="studentTable">
			
    <thead>
      <tr>
         <th>#</th>
          <th>FirstName</th>
          <th>LastName</th>
         <!-- <th>Gender</th>-->
          <th>Picture</th>
          <th>Address</th>
         <!-- <th>CreatedAt</th>-->
          <th>Action</th>
          
      </tr>
    </thead>
    <tbody>
      <tr th:each="student: ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <!--<td th:text="${student.gender}"></td>-->
        <td><img th:src="${student.picture}" width="50"/></td>
        <td th:text="${student.address}"></td>
       <!-- <td th:text="${student.createdAt}"></td>-->
        <td>
          <a data-toggle="modal" id=${student.id} data-target="#exampleModal">MoreInfo..</a>
          <a th:href="@{/editStudent/{id}(id=${student.id})}">Edit</a>
          <a th:href="@{/deleteStudent/{id}(id=${student.id})}">Delete</a>

        </td>
      </tr>
    </tbody>
    
  </table>
  </div>
  <!--Model-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">     <div class="row">  <h3>Student Details Information</h3> </div></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--STUDENT INFO-->
        
          <div class="col-md-4">
              <div class="studentPic">
                  <span class="photo"><img src="${student.picture}" style="border-radius: 5px; width: 100px;"></span>
                  </div>
                  </div>
                  <div>
                      <div class="row col-md-12">
                        <div class="col-md-2">FirstName:</div>
                        <div class="col-md-4"><strong><!--<p th:text="${student.firstName}"></p>--></strong></div>
                        </div>
                        <div class="row col-md-12">
                          <div class="col-md-2">LastName:</div>
                          <div class="col-md-4"><strong></p></strong></div>
                          </div>
                          <div class="row col-md-12">
                            <div class="col-md-2">Gender:</div>
                            <div class="col-md-4"><strong><p></p></strong></div>
                            </div>
                            <div class="row col-md-12">
                              <div class="col-md-2">Address:</div>
                              <div class="col-md-4"><strong><p ></p></strong></div>
                              </div>
                              <div class="row col-md-12">
                                <div class="col-md-2">UpdatedAt:</div>
                                <div class="col-md-6"><strong><p ></p></strong></div>
                                </div>
                                </div>
                                <div>
                                <div class="alert alert-warning" role="alert">
                                  <center>Courses assigned to:</p></center>
                                  </div>
                                  <div>

                                    <h2>displayed here...</h2>
                                    </div>
                                  </div>
            <div class="alert alert-info" role="alert">
              <center>Assigning Courses to Student section</center>
              </div>

           <!-- <div>-->

              <center>

                </center>
                </span>
            <!--</div>-->
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary btn btn-block">Assign</button>
              </div>
              </form>
          </div>
        
        <!--END OF STUDENT INFO-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  <!--End model-->
      </main>
      <!--END MAIN SECTION-->
      <!--Javascript part-->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <!--pagination, sort and filtering table-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
      <script>
        $(document).ready(function() {
          $("#studentTable").DataTable({
              'aoColumnDefs': [{
                  'bSortable': false,
                  'aTargets': [-1]
              }]
          });
        })
      </script>
      <!--END JAVASCRIPT-->

  </body>
</html>