<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dashboard</title>
    <!--Integrating cdn for datatable-->
    <link rel="stylesheet" 
    type="text/css" 
    href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
    crossorigin="anonymous" />
    <!--End of cdn-->
    <link rel="stylesheet" href="../../css/dashboard.css">
  </head>
  <body>
      <!--NAVBAR COMPONENT-->
    <nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/dashboard/user/index}">User Dashboard</a>
      <!-- <form th:action="@{/student/index}" method="get"> -->
         <!-- <input type="text" id="search" name="keyword" class="form-control form-control-primary w-100" placeholder="Search..." >  --> 
         <!-- </form> -->
<div class="btn-group" style="margin-right: 50px;">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span th:text="${currentUser.lastName}"></span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" th:href="@{user/profile}">Profile</a>
    <a class="dropdown-item" href="#">Settings</a>
    <div class="dropdown-divider"></div>
     <a class="nav-link" th:href="@{/logout}">Logout</a>
  </div>
</div>
    </nav>
    
    <!--SIDE MENU-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-light d-none d-md-block sidebar">
                <div class="left-sidebar">
                    <ul class="nav flex-column sidebar-nav">
                        <li class="nav-item">
                          <a class="nav-link active" th:href="@{/dashboard/user/index}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            Dashboard
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/faculty/form}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            Faculty
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/department/form}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            Department
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/course/index}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            Course
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/student/index}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                            student
                          </a>
                        </li>
                      </ul>
                </div>
              </div>
        </div>
      </div>
      <!--MAIN SECTION-->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <h2>Welcome to admin dashboard</h2>
          <hr/>
        <div class="row" style="margin-left: 400px;">  <h3>User Profile</h3> </div>
     <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 mt-5 pt-5">
                <div class="row z-depth-3">
                    <div class="col-sm-4 bg-info rounded-left">
                        <div class="card-block text-center text-white">
                            <i class="fas fa-user-tie fa-7x mt-5"></i>
                            <h2 class="font-weight-bold mt-5"><img src=""/></h2>
                            <i class="far fa-edit fa-2x mb-4"></i>
                        </div>
                    </div>
                    <div class="col-sm-8 bg-white rounded-right">
                        <h3 class="mt-3 text-center">Information</h3>
                        <hr class="badge-primary mt-0 w-25">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="font-weight-bold">FirstName:</p>
                                <h6 class="text-muted" th:text="${currentUser.firstName}"></h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">LastName:</p>
                                    <h6 class="text-muted" th:text="${currentUser.lastName}"></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="font-weight-bold">UserName:</p>
                                        <h6 class="text-muted" th:text="${currentUser.email}">Kigali-Rwanda</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="font-weight-bold">Role:</p>
                                            <h6 class="text-muted"><span sec:authentication="principal.authorities">NOT FOUND</span></h6>
                                            </div>
                            </div>
                        </div>
                </div>
      </div>
  <hr/>
      </main>
      <!--END MAIN SECTION-->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <!--pagination, sort and filtering table-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
  </body>
</html>